<!DOCTYPE html>
<html lang="en">
<head><% include partials/head.ejs %></head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <h2>Team Members:</h2>
        <ul>
            <li>Kate Brown</li>
            <li>Kevin Kainulainen</li>
            <li>Serena Wang</li>
        </ul>
        <h3><a href="/login">Proceed to Project Login</a></h3>
    </div><!-- container -->
    <% include partials/jsdefaults.ejs %>
</body>
</html>