<!DOCTYPE html>
<html lang="en">
<head><% include partials/head.ejs %></head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        <form action="/test" method="post">
            <label>Enter your User Name</label>
            <br />
            <input type="text" name="username" />
            <br />
            <br />
            <label>Enter your Password</label>
            <br />
            <input type="text" name="password" />
            <br />
            <br />
            <button type="submit">Submit</button>
        </form>
    </div><!-- container -->
    <% include partials/jsdefaults.ejs %>
</body>
</html>